.day1{
    padding: 80px 0 195px;
    background: url("./bg.png") center/cover no-repeat;
    position: relative;
}


.day1__carousel{
    position: absolute;
    width: 670px;
    z-index: 1;
    top: 234px;
    right: 0;
}

.day1 .container{
    position: relative;
    z-index: 1;
}

.day1::before{
    content: '';
    background: linear-gradient(180deg, #000000 7.21%, rgba(0, 0, 0, 0.31) 68.74%, rgba(0, 0, 0, 0) 95%, rgba(255, 255, 255) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.day1__title{
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white;
    margin-bottom: 48px;
}

.day1__title-span{
    color: #F47648;
}

.day1__item{
    margin-bottom: 30px;
}

.day1__item:last-child{
    margin-bottom: 0;
}

.day1__item{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ACACAC;
}

.day1__item-span{
    color: white;
}

.day1 .swiper-right .swiper-slide {
    padding-left: 10px ;
    padding-right: 10px ;
}
 .swiper-right .swiper-slide-active img {
    position: relative;
    top: 5px;
}
.swiper-right .swiper-slide img{
    border-radius: 5px;
}

@media (max-width: 992px) {
    .day1__carousel {
        width: 500px;
        top: 228px;
    }
    .swiper-right .swiper-slide {
        width: 58%;
    }
}

@media (max-width: 769px) {
    .day1__carousel {
        width: 321px;
        top: 227px;
    }
    .day1__carousel .swiper-button-prev {
        display: none;
    }
    .day1__carousel .swiper-button-next {
        display: none;
    }
    .swiper-right .swiper-slide {
        width: 91%;
    }
}

@media (max-width: 577px) {
    .day1__carousel {
        display: none;
    }
}

@media (max-width: 577px) {
    .day1__title {
        font-size: 33px;
    }
}

@media (max-width: 426px) {
    .day1__title {
        font-size: 29px;
    }
}



@media (max-width: 376px) {
    .day1__item {
        font-size: 14px;
    }
}

@media (max-width: 321px) {
    .day1__title {
        font-size: 21px;
        line-height: 33px;
    }
    .day1__item {
        font-size: 13px;
    }
}