.day5{
    padding: 80px 0 217px;
    background: url("./bg.png") center/cover no-repeat;
    position: relative;
}

.day6__carousel{
    position: absolute;
    width: 700px;
    z-index: 1;
    bottom: 324px!important;
    top: unset;
    right: 0;
}

.day5::before{
    content: '';
    height: 845px;
    background: linear-gradient(180deg, #000000 23.35%, rgba(0, 0, 0, 0.572235) 60.21%, rgba(0, 0, 0, 0) 88.82%);

    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.day5::after{
    content: '';
    height: 998px;
    background: linear-gradient(360deg, #fff, #000000 2%, rgba(0, 0, 0, 0.572235) 60.21%, rgba(0, 0, 0, 0) 88.82%);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.day5__info_1{
    margin-bottom: 181px;
}

.day5 .container{
    position: relative;
    z-index: 1;
}


.day5__content{
    display: flex;
    justify-content: flex-end;
}

.day5 .container:nth-child(2) .day5__content{
    justify-content: flex-start;
}

.day5__title{
    font-family: 'Inter',sans-serif;
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 48px;

}

.day5__title-span{
    color: #F47648;
}

.day5__carousel{
    max-width: 576px;
    position: absolute;
    left: 0;
    top: 208px;
    z-index: 1;
}

.day5__item{
    margin-bottom: 30px;
}

.day5__item:last-child{
    margin-bottom: 0;
}

.day5__item{
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.day5__dop{
    font-family: 'Montserrat',sans-serif;
    margin: 70px 0 31px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;

}

.day5__dop-item{
    width: 481px;
    padding: 0 29px 16px 9px;
    border-bottom: 1px solid #BABABA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day5__dop-title{
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.day5__dop-text{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #BABABA;

    opacity: 0.7;
}


.day5 .swiper-left .swiper-button-prev:hover::after ,  .day5 .swiper-left .swiper-button-next:hover:after{
    color: black;
    transition: .3s;
}

.day5 .swiper-left .swiper-button-prev, .day5 .swiper-left .swiper-button-next{

    border: 1px solid white;

}
.day5 .swiper-left .swiper-button-prev:hover , .day5 .swiper-left1 .swiper-button-next:hover{
    background: white;
    transition: .3s;
}

.day5 .swiper-left .swiper-button-next::after{
    color: white;
}
.day5 .swiper-left .swiper-button-prev::after{

    color: white;

}

.day5__top {
    padding: 60px 0;
}

@media (max-width: 992px) {
    .day5__carousel {
        max-width: 490px;
    }
    .day6__carousel {
        max-width: 530px;
    }
}

@media (max-width: 769px) {
    .day5__carousel {
        max-width: 370px;
    }
    .day5__info_1 {
        width: 50%;
    }

    .swiper-left .swiper-slide {
        width: 90%;
    }
    .day6__carousel {
        display: none
    }
}

@media (max-width: 577px) {
    .day5__carousel {
        display: none;
    }
    .day5__info_1 {
        width: 100%;
    }
}

@media (max-width: 481px) {
    .day5__title {
        font-size: 37px;
    }
    .day5__title_2 {
        font-size: 33px;
    }
    .day5__info_1 {
        margin-bottom: 50px;
    }
    .day5__info {
        width: 100%;
    }
    .day5__dop-item {
        width: 100%;
    }
}

@media (max-width: 376px) {
    .day5__item {
        font-size: 13px;
    }
    .day5__dop-title {
        font-size: 15px;
        margin-right: 30px;
    }
    .day5__dop-text {
        font-size: 16px;
    }
    .day5__dop-item {
        flex-direction: column;
        row-gap: 10px;
        padding-top: 5px;
    }
}

@media (max-width: 321px) {
    .day5__title {
        font-size: 35px;
    }

}