.swiper-left .swiper-slide{
    width: 55%;
    padding-bottom: 58px;
    padding-top: 40px ;
}

.swiper__img{
    width: 100%;
}

.swiper-left .swiper-button-prev{
    right: 15px!important;
    font-size: 9px!important;

}
.swiper-left .swiper-button-next{
    right: 69px!important;
}

.swiper-left .swiper-button-prev:hover::after ,  .swiper-left .swiper-button-next:hover:after{
    color: white;
    transition: .3s;
}

.swiper-left .swiper-button-prev, .swiper-left .swiper-button-next{

    border: 1px solid black;

}
.swiper-left1 .swiper-button-prev:hover ,  .swiper-left1 .swiper-button-next:hover{
    background: black;
    transition: .3s;
}

.swiper-left1 .swiper-button-next::after{
    color: black;
}
.swiper-left1 .swiper-button-prev::after{

    color: black;

}


.swiper-left .swiper-slide-active{
    position: relative;
    bottom: 20px;
    transform: scale(1.15) translateZ(0) translateY(15px) !important;
}
